	a {
		font-size: large;
	}

	hr {
		text-align: left;
		margin-left:0;
		width: 98%;
	}

	.center {
		text-align: center;
	} 

	#sizeImage {
		width:300px; 
		height:300px;
	}

	#albumTitle {
		font-size: x-large;
		font-weight: bold;
	}
	
	#releaseDate {
		font-size: medium;
	}