	@import url(https://fonts.googleapis.com/css?family=Great+Vibes);

	.header h1 {
		text-align: center;
		font-family: 'Great Vibes', cursive;
		font-size: 50px;
		margin-top:0px;
		padding-top:12px;
		margin-bottom: 8px;
	}

	.header a {
		margin-left:1cm;		
	}

	.header {
		margin: 0;
		padding: 0;		
	}

	.links {
		border-top:1px solid black;
		border-bottom:1px solid black;
		padding-top: 15px;
		padding-bottom: 15px;
	}

	.footer {
		border-top:1px solid black;
		position: absolute;
		width: 100%;
		top: 88%;
		text-align: center;
		margin-bottom: 0px;
	}