	@import url(https://fonts.googleapis.com/css?family=Great+Vibes);

	.header h1 {
		text-align: center;
		font-family: 'Great Vibes', cursive;
		font-size: 50px;
		margin-top:0px;
		padding-top:12px;
		margin-bottom: 8px;
	}

	a {
		font-weight:none;
		color: #0000EE;	
		margin-left:0.5cm;	
	}
	a:visited {
		color: red;		
	}
	a:hover {
		font-weight:bold;		
	}
	a:active {
		text-decoration: none;	
	}

	.header {
		margin: 0;
		padding: 0;		
	}

	.links {
		border-top:1px solid black;
		border-bottom:1px solid black;
	}

	.footer {
		border-top:1px solid black;
		position: absolute;
		width: 100%;
		top: 92%;
		text-align: center;
		margin-bottom: 0px;
	}