	#game {
		border-collapse:collapse;
		margin-top: 30px;
		margin-left: 50px;
		width:350px;
	}

	#play {
		border: 1px solid black;
		padding-bottom:20px;
	}

	#results {
		border: 1px solid black;
		background-color: #DCDCDC;
		height: 340px;
		display:none;
	}

	#btnGetResultsId {
		margin: 10px;
		width: 200px;
		padding: 10px;
		background-color: #C0C0C0;
	}

	#startingBet {
		padding-left: 5px;
		width: 100px;
		margin: 0.5px;
	}

	table td, table th {
		border: 0.5px solid white;
		padding: 20px 15px 15px 10px;
	}

	table th {
		background-color: #C0C0C0;
	}

	table caption {
		font-weight:bold;
		font-size:x-large;
		text-decoration:underline;
		padding-top:10px;
		padding-bottom:10px;
	}

	table {
		border-collapse:collapse;
		text-align:left;
		margin:auto;
	}
