	@import url(https://fonts.googleapis.com/css?family=Pacifico);

	a {
		font-size: large;
	}

	hr {
		text-align: left;
		margin-left:0;
		width: 98%;
	}

	.center {
		text-align: center;
	}
 
	.Pacifico {
		font-family: 'Pacifico', cursive;
	}
 
	#albumTitle {
		font-size: x-large;
		font-weight: bold;
	}
	
	#releaseDate {
		font-size: medium;
	}