	.header h1 {
		text-align: center;
	}

	.header a {
		margin-left:1cm;		
	}

	.links {
		border-top:1px solid black;
		border-bottom:1px solid black;
		padding-top: 15px;
		padding-bottom: 15px;
	}

	.footer {
		border-top:1px solid black;
		position: absolute;
		width: 99%;
		top: 85%;
		text-align: center;
	}